@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');



.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainhead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}


.title {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 5px 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    user-select: none;
    animation: dropin 1s ease-in-out;


}

.title:hover {
    background: rgba(255, 255, 255, 0);
    color: rgba(82, 42, 244, 0.096);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0);
    transform: scale(1.1);
}


.desc {
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 5px 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    user-select: none;
    animation: dropin 1s ease-in-out;
    margin-bottom: 10px;
}


.galaxy-input{
    width: 300px;
    height: 30px;
    background-color: rgba(59, 56, 56, 0.356);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: white;
    transition: all 0.5s ease-in-out;
}
.galaxy-input:focus, .galaxy-input:hover {
    background-color: rgba(59, 56, 56, 0.8);
    outline: none;
    scale: 1.1;
    outline: none;
    background-color: rgba(59, 56, 56, 0.356);
    caret-color: rgba(255, 255, 255, 0.534);


}




.search-btn {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(59, 56, 56, 0.356);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.search-btn:hover{
    background-color: rgba(59, 56, 56, 0.356);
    color: rgba(0, 0, 0, 0.534);
    scale: 1.1;

}



.discord-btn{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(59, 56, 56, 0.356);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.discord-btn:hover{
    background-color: rgba(0, 0, 0, 0.356);
    color: rgba(255, 255, 255, 0.534);
    scale: 1.1;

}

.discord-btn2{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(59, 56, 56, 0.356);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.discord-btn2:hover{
    background-color: rgba(0, 0, 0, 0.356);
    color: rgba(255, 255, 255, 0.534);
    scale: 1.1;

}
