  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    background-color: #000000;
}

.iframe {
  display: block;
  background: #000;
  border: none;
  height: 100vh;
  width: 100vw;
}

input {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 245px;
    background-color:#fff;
}

pre {
  font-family: 'Quicksand', sans-serif;
}


::placeholder {
  color: #000;
  font-weight:bold;
}

.text {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.center-screen {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
    margin-top: -100px;
    margin-left: -100px;
  }

  .slogan {
    color: #fff;
    background-color: #fff1;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
.header {
  padding: 5px;
  text-align: center;
  background: #fff;
  color: rgb(0, 0, 0);
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 600px;
  border-radius: 10px;
  position: absolute;
  top: 18%; 
  left: 39%;
  margin-top: -100px;
  margin-left: -100px;
}
a {
  text-decoration:none;
  color:rgb(0, 0, 0);
}
.header-link {
  color: rgb(0, 0, 0);
  font-size: 18px;
}
