.title {
    color:black;
}
body, .slider-round, input:checked + .slider-round, ::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background-color: white;
}
h2, .fixed-nav-bar-right .navbar-link {
    color:black;
}
#INImg {
    content: url("/main_inverted.png");
}
input, select, .column, .key-form, button, .key-button, .searchbar, .slider-round:before, ::-webkit-scrollbar-thumb {
background-color: #222;
}
.settings-card {
background-color: #111; 
}
