.business {
  display: flex;
  align-items: flex-end;
  flex-basis: 50%;
  padding: 15px;
  box-sizing: border-box;
}
.business-icon {
  margin-right: 10px;
  cursor: pointer;
}
.business-content {
  flex-grow: 1;
}
.business-quantity {
  width: 70px;
  border-radius: 20px;
  background-color: #df8a4e;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  border: 1px solid #dedede;
}
.business-buy-and-timer {
  display: flex;
  flex-wrap: wrap;
}
.business-buy {
  padding: 5px 10px 0;
  flex-grow: 1;
  border: 2px solid #dedede;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
.business-buy.active {
  background-color: #df8a4e;
}

.business-timer {
  padding-top: 5px;
  width: 80px;
  text-align: center;
  border: 2px solid #dedede;
  border-radius: 5px;
}
.business-progress {
  position: relative;
  cursor: pointer;
}
.business-progress .business-profit {
  position: absolute;
  top: 8px;
  left: 15px;
}

.business-unpurchased {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 5px;
  font-size: 22px;
  background-color: #8c8176;
  border-radius: 10px;
  color: #333;
  background-repeat: no-repeat;
  background-position: 10px center;
  opacity: 0.5;
}
.business-unpurchased.active {
  background-color: #df8a4e;
  cursor: pointer;
  background-image: none!important;
  opacity: 1;
}
.business-unpurchased .price {
  color: #ffffff;
}

@media (max-width: 1100px) {
  .business {
    flex-basis: 100%;
  }
}