@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    background: var(--page);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: black;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.search-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: var(--text-placeholder);
    opacity: 1; /* Firefox */
}

.main-search {
    width: 50vw;
    height: 5vh;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    background: var(--background-secondary);
    backdrop-filter: var(--background-filter);
}

.fixed-nav-bar-container {
    min-width: 5vw;
    min-height: 10vh;
    display: inline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 101;
}

.lower-footer {
    height: 8vh;
    margin: 0;
    padding-top: 1vh;
    text-decoration: none;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}

.lower-footer > h1 {
    color: var(--text-primary);
    text-align: center;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.lower-footer > h1 > a {
    text-decoration: none;
    color: var(--text-primary);
    margin-right: 1vw;
    margin-left: 1vw;
    font-family: "Poppins", sans-serif;
}

.featured {
    background-color: var(--background);
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: var(--background-filter);
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    min-height: 15vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    color: var(--text-primary);
}

.featured-text {
    width: 100vw;
}

.featured-text-box {
    background: var(--background);
    backdrop-filter: var(--background-filter);
    width: 9vw;
    height: 4vh;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}

.featured-text-box > h1 {
    padding-top: 0.5vh;
    font-size: 18px;
    text-align: center;
    color: var(--text-primary);
    filter: brightness(80%);
}

.fixed-nav-bar {
    top: 0;
    letter-spacing: 2px;
    font-size: 22px;
    left: 0;
    right: 0;
    min-height: 10vh;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: var(--background);
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: var(--background-filter);
    transition: 0.35s ease;
    border-radius: 15px;
    width: fill;
    margin: 15px;
    z-index: 100;
    position: fixed;
}

.fixed-nav-bar .icon:hover {
    transform: translateY(-55%) scale(1.03);
    font-weight: 800;
}

.fixed-nav-bar .icon {
    position: absolute;
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 600;
    margin-left: 5px;
    font-style: normal;
    text-decoration: none;
    transition: all 0.2s ease;
    height: 0.5vh;
    width: 0.5vh;
    top: 18%;
}

.fixed-nav-bar-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 18px;
    color: var(--text-primary);
    font-weight: 600;
    right: 2%;
}

.fixed-nav-bar-right .navbar-link {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 2.5vh;
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 800;
    right: 2%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    text-decoration: none;
    transition: all 0.2s ease;
    transform: translateX(0%);
}
@media (orientation: portrait) {
    .fixed-nav-bar-right .navbar-link {
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 2.5vw;
        cursor: pointer;
        color: var(--text-primary);
        font-weight: 800;
        right: 2%;
        font-family: "Inter", sans-serif;
        font-style: normal;
        text-decoration: none;
        transition: all 0.2s ease;
        transform: translateX(0%);
    }
    .fixed-nav-bar-right .navbar-link:hover {
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 800;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-size: 3vw;
        transform: translateX(-20%);
    }
}

.fixed-nav-bar-right .navbar-link:hover {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 3vh;
    transform: translateX(-20%);
}

.navbar-icon {
    margin-right: 5px;
    transition: all 0.2s ease;
}

.weird-icon {
    line-height: 150px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}

.navbar-link {
    margin-right: 5px;
    font-size: 3vh;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.navbar-link:hover > .settings-icon {
    animation: spin 0.5s;
    animation-timing-function: cubic-bezier(0, 1.04, 0.91, 0.99);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
img {
    width: 6vh;
    padding-top: 5px;
}
@media (orientation: portrait) {
    img {
        width: 6vw;
    }
}

.column {
    width: 145px;
    transition: all 0.2s ease;
    cursor: pointer;
    background: var(--column);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 0;
}

.column img {
    position: absolute;
    width: 145px;
    height: 145px;
    border-radius: 0px;
    transition: all 0.2s ease;
    border-radius: 10px;
}

.column p {
    width: 145px;
    height: 19px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: var(--text-primary);
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    padding-top: 136px;
    padding-bottom: 12px;
}

.column:hover {
    transform: scale(1.2);
}

.column:hover .label {
    transform: translateX(-50%) scale(1.3);
}

.input-container {
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

input {
    padding: 20px;
    width: 550px;
    border-radius: 5px;
    background: var(--column);
    text-align: center;
    font-size: 24px;
    border: none;
    outline: none;
    color: var(--text-primary);
}

select {
    padding: 20px;
    border-radius: 5px;
    background: var(--column);
    color: var(--text-primary);
    font-size: 20px;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.container-apps {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.3em;
    flex-direction: row;
}
.pinned-apps {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.3em;
}

.title {
    font-size: 10vh;
    color: var(--title);
    font-family: "Inter", sans-serif;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px 0px 5px 5px;
    margin-top: 30vh;
    margin-bottom: 5vh;
    text-shadow: 2px 4px 6px rgb(0, 0, 0, 0.2);
}
