.iframe-container iframe {
  display: none;
}

.iframe-container iframe.active {
  display: block;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

#add-tab {
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}

/* #nav-button {
  float: left;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}

#nav-button:hover {
  background-color: var(--hover-color);
} */

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

li {
  padding: 0.4rem;
  background-color: var(--accent-color);
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

li:hover {
  background-color: var(--hover-color);
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  left: 0;
  top: 13%;
}

.address-bar-container {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 50px;
  padding: 15px;
  overflow: hidden;
  width: 95%;
  margin-top: 75px;
  transition: width 0.5s;
  overflow: hidden;
  position: fixed;
  left: 5px;
}

.address-bar-input {
  opacity: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0 15px;
  font-size: 16px;
  position: absolute;
  overflow: hidden;
  width: 400px;
  transition:
    opacity 0.5s,
    width 0.5s;
}

.address-bar-search-form {
  display: flex;
  align-items: center;
}
