@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
:root {
  --page: var(--ctp-mocha-base) /*base*/;
  --background: #1e1e2e;
  --background-secondary: var(--ctp-mocha-mantle) /*mantle*/;
  --background-dark: #11111b /*crust*/;

  --title: var(--ctp-mocha-blue) /*blue*/;
  --block: var(--ctp-mocha-surface0) /*surface0*/;
  --block-buttons: var(--ctp-mocha-surface1) /*surface1*/;
  --input: var(--ctp-mocha-surface0) /*surface0*/;
  --column: var(--ctp-mocha-crust) /*crust*/;

  --text-primary: var(--ctp-mocha-text) /*text*/;
  --text-secondary: var(--ctp-mocha-subtext1) /*subtext1*/;
  --text-placeholder: var(--ctp-mocha-subtext0) /*subtext0*/;
}
input,
select,
.column,
.key-form,
button,
.key-button,
.searchbar {
  background-color: var(--ctp-mocha-surface0) /*surface0*/;
  color: var(--ctp-mocha-subtext1) /*subtext1*/;
}
.settings-card {
  background-color: var(--ctp-mocha-mantle) /*mantle*/;
}
input:checked + .slider-round {
  background-color: #000;
}
.fixed-nav-bar-right .navbar-link {
  color: var(--ctp-mocha-mauve) /*mauve*/;
}
.fixed-nav-bar-right:hover .navbar-link:hover {
  color: var(--ctp-mocha-blue) /*blue*/;
}
