@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.row {
  float: left;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.card:hover {
  transform: scale(1.2);
  overflow: hidden;
  transition: 0.2s;
}

img {
  height: auto;
  max-height: 990px;
  width: 145px;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  border-radius: 25px;
  max-height: 145px;
  max-width: 145px;
  overflow: hidden;
}

.card {
  transition: 0.1s;
  width: 150px;
  background-color: transparent;
  margin: 15px;
  transition: 0.2s;
  overflow: hidden;
  cursor: pointer;
  height: 170px;
}
.game-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}
html {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  margin: 20px 10px;
  border-radius: 20px;
  font-weight: 700;
  border: 2px solid var(--textcolor);
  background: 0 0;
  color: var(--textcolor);
  cursor: default;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease;
  height: 150px;
  background-color: transparent;
}

.imagebutton {
  color: transparent;
  width: 150px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 20px;
  border: 0 solid var(--textcolor);
  font-weight: 700;
  background: 0 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease;
  height: 150px;
}

button:hover {
  -webkit-transition: scale(1.1);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1.5s ease;
  text-decoration: none;
  overflow: hidden;
}

h2 {
  color: var(--textcolor);
  text-align: center;
  align-self: center;
  align-content: center;
  display: inline-block;
}

body {
  background-color: #111;
}
.random-btn {
  text-align: center;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  background-color: rgba(59, 56, 56, 0.356);
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  color: white;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.random-btn:hover {
  text-align: center;
  background-color: rgba(59, 56, 56, 0.356);
  color: rgba(0, 0, 0, 0.534);
  scale: 1.1;
}
