.column {
   width: 145px;
   transition: all 0.2s ease;
   cursor: pointer;
   background: var(--background-column);
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   margin: 0;
}

.column img {
   position: absolute;
   width: 145px;
   height: 145px;
   border-radius: 0px;
   transition: all 0.2s ease;
   border-radius: 10px;
}

.column p {
   width: 145px;
   height: 19px;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 19px;
   text-align: center;
   color: var(--text-primary);
   text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
   padding-top: 136px;
   padding-bottom: 12px;
}

.column:hover {
   transform: scale(1.2);
}

.column:hover .label {
   transform: translateX(-50%) scale(1.3);
}

.container-apps {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2.3em;
   flex-direction: row;
   margin-top: 30px;
}

.pinned-apps {
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2.3em;
}

input {
   padding: 20px;
   width: 550px;
   border-radius: 5px;
   background: var(--background-column);
   text-align: center;
   font-size: 20px;
   border: none;
   outline: none;
   color: var(--text-primary);
   transition: 0.4s;
}

select {
   padding: 20px;
   border-radius: 5px;
   background: var(--background-column);
   color: var(--text-primary);
   font-size: 20px;
   border: 0px;
   outline: none;
   cursor: pointer;
}

.input-container {
   position: relative;
   margin-top: 150px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 0.5em;
}
