.title {
    color:white;
}
body {
    background: black;
}
h2 {
    color: white;
}
.fixed-nav-bar-right .navbar-link {
    color: white;
}
#INImg {
    content: url("/main.png");
}

input, .searchbar, .key-form, select, .column, .settings-card, button, .key-button {
    background-color: black;
    color: white;
    border: solid 0.5px white;
}