.title {
    color:black;
}
body {
    background-image: linear-gradient(to right, rgb(248, 200, 220) , rgb(253,253,150));
}
h2 {
    color:black;
}
.fixed-nav-bar-right .navbar-link {
    color:black
}
#INImg {
    content: url("/main_inverted.png");
}