@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@600&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body,h1,h2,h3,h4,h5,h6, p, a{
  font-family:  'Ubuntu', sans-serif;
  font: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: 600;
  color: white;
}
a {
font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 24px;
  color: #f47fff;
}
.button3 {
  border: 2px solid #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 15px 32px;
  margin: 4px 2px;
  border-radius: 10px;
}
  .button2 {
    background-color: #000;
  color: white;
  border: 2px solid #fff;

  }
.button2:hover {
  background-color: #fff;
  color: black;
  border: 2px solid #000;
} 

} 