@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap";
* {
  padding: 0;
  margin: 0;
}
body {
  color: #fff;
  overflow-x: hidden;
  font-family: poppins, sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: transparent;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  padding-left: 1rem;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav a:visited {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #ffffff98;
  text-decoration: none;
}
html {
  background-color: #000;
}

div.searchbar {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.searchbar {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin: 5px 0;
}
.card {
  display: inline-block;
  position: relative;
}

.card:after {    
  display: block;a
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 100%;
  width: 0;
  height: 3px;
  background: white;
  content: "";
transition: width 0.45s ease-out, left 0.45s ease-out, transform 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.card:hover:after { 
  width: 100%; 
  left: 0; 
}

.red {
  display: inline-block;
  position: relative;
}

.red:after {    
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 100%;
  width: 0;
  height: 3px;
  background: white;
  content: "";
transition: width 0.45s ease-out, left 0.45s ease-out, transform 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.red:hover:after { 
  width: 100%; 
  left: 0; 
}
