.searchbar {
    width: 100%;
    border-radius: 15px;
    font-size: 24px;
    background-color: white;
    color: black;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: relative;
    width: 220px;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 5;
    }
    