#cookieNotice.display-right {
    right: 30px;
    bottom: 30px;
    max-width: 395px;
  }
  #cookieNotice.light {
    background-color: #000;
    color: #fff;
  }
  #cookieNotice {
    box-sizing: border-box;
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
    font-family: inherit;
    z-index: 999997;
    color: #000;
  }
  #cookieNotice #closeIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #31ffff;
    overflow: hidden;
    opacity: 0.85;
    z-index: 999999;
    position: absolute;
    top: 0;
    right: 0;
  }
  #cookieNotice * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  #cookieNotice .title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 45px;
    height: 40px;
  }
  #cookieNotice .title-wrap svg {
    margin-right: 10px;
  }
  #cookieNotice h4 {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }
  #cookieNotice.light p,
  #cookieNotice.light ul {
    color: #fff;
  }
  #cookieNotice p,
  #cookieNotice ul {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #cookieNotice .btn-wrap {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    justify-content: center;
    margin: 0 -5px 0 -5px;
    flex-wrap: wrap;
    color: #000;
  }
  
  .popupbutton {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    flex-grow: 1;
    padding: 0 7px;
    margin: 0 5px 10px 5px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    min-width: 130px;
    line-height: 36px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    transition: box-shadow 0.3s;
  }
  
  .popupbutton:hover {
    background-color: #000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  