.title {
    color: white;
}

body {
    background-image: linear-gradient(to right, #FF0000, #FFA500, #FFFF00, #00FF00, #0000FF, #800080);
    color: white;
}

h2 {
    color: black;
}

.fixed-nav-bar-right .navbar-link {
    color: white;
}

#INImg {
    content: url("/main.png");
}

input, select, .column, .key-form, button, .key-button, .searchbar {
    background-color: black;
    color: white;
}

.settings-card {
    background-color: #111;    
}

input:checked + .slider-round {
    background-color: #000;
}
