name: Publish image to Docker Hub

on:
  [workflow_dispatch]

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: build
        run: |
          docker build . -t derwin3/schoology101testyes:latest
      - name: publish
        run: |
          docker login -u derwin3 -p dckr_pat_Sghgn4SS4aRLZah60pfOyALGpyg
          docker push derwin3/schoology101testyes:latest
