body {
  background-color: #1993ce;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  color: #dedede;
  font-weight: bold;
}
.App {
  max-width: 1200px;
  margin: auto;
  background-color: #272727;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
  display: flex;
}
.main {
  flex-grow: 1;
  padding: 20px;
}
.side-bar {
  background-color: #444444;
  padding: 10px;
}
.side-bar img {
  height: auto;
  width: 150px;
}
.businesses {
  display: flex;
  flex-wrap: wrap;
}
.balance {
  font-size: 55px;
}
.text-center {
  text-align: center;
}
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.modal .modal-content {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #272727;
  position: relative;
}
.modal .modal-close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}
.modal .modal-close img {
  width: 50px;
}
.modal h2 {
  font-size: 42px;
  text-align: center;
  margin: 0;
  color: #1993ce;
}
.modal .sub-title {
  text-align: center;
  margin-top: 0;
}

@media (max-width: 1100px) {
  .App {
    flex-direction: column;
  }
  .side-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .side-bar img {
    width: 100px;
  }
  .businesses {
    flex-direction: column;
  }
}